.steps {
  display: flex;
  flex-direction: column;
  gap: 0px !important;
  transition: all 200ms ease;
  position: relative;

  input {
    @include media-down(large-tablet) {
      font-size: 16px !important;
    }
  }

  @include media-down(large-mobile) {
    height: 100%;
  }

  &.warningSteps {
    @include media-down(large-mobile) {
      height: auto !important;
    }
  }

  .closeButton {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 0;
    top: 4px;
    background-color: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;

    > span {
      pointer-events: none;
      background-color: $primary;
      width: 16px;
      height: 2px;
      position: absolute;
      right: 0px;
      transition: all 0.4s ease;
      transform: rotate(135deg) !important;

      &:nth-child(1) {
        transform: rotate(45deg) !important;
      }
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700 !important;
  line-height: 140%;
  letter-spacing: -0.4px;
  font-family: 'Raleway', sans-serif;
  z-index: 1;

  &.warning {
    margin-bottom: 16px !important;
  }
}

.progress {
  width: 100%;
  background-color: $grey100;
  border-radius: 200px;
  overflow: hidden;
  margin: 0;
  margin-top: 16px;
  z-index: 1;

  .progressInner {
    height: 8px;
    background-color: $quinary;
    transition: all 200ms ease;
  }
}

.wrapper {
  position: relative;
  transition: all 400ms ease;
  min-height: 0;

  @include media-down(large-mobile) {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0px !important;
  transition: all 1200ms ease;
  min-height: 0;
  z-index: 0;

  @include media-down(large-mobile) {
    height: 100%;
  }
}

.footer {
  z-index: 1;
  margin-top: auto;
  position: sticky;
}

.next {
  width: 100%;
  padding: 16px 32px !important;
  font-size: 16px !important;
  margin-top: 16px;
}

.previous {
  width: 100%;
  background-color: transparent !important;
  color: #545454 !important;
  border-radius: 0 !important;
  border-width: 1px 0 0 0 !important;
  border-color: $borderDarker !important;
  margin-top: 16px;
  padding: 16px 32px 0 32px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  text-decoration-line: underline;

  &:hover {
    text-decoration-line: underline;
  }
}

.separator {
  text-align: center;
}
