.item {
  position: relative;
  border-bottom: 1px solid currentColor;

  &.active {
    .content {
      z-index: 1;
      pointer-events: all;
      opacity: 1;
    }

    .icon {
      transform: rotate(45deg);
    }
  }
}

.icon {
  transition: transform 0.3s ease;
}

.title {
  padding: 24px 0;
  cursor: pointer;
  user-select: none;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  opacity: 0;
  transition:
    max-height 0.5s ease,
    opacity 0.3s ease;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.wrapper {
  padding-bottom: 24px;
}
