.image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-10;
  opacity: 0.1;
  z-index: 1;
  transition: opacity 400ms ease;
}
