.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  transform: translateY(100%);

  &.hasError {
    max-height: 200px;
  }

  .message {
    color: #ea873f;
  }
}
