.section {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  @include media-up(tablet) {
    flex-direction: column;
  }
}

.headerMobile {
  z-index: 100;
  position: sticky;
  top: 128px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 24px;

  .title {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media-up(tablet) {
    display: none;
    pointer-events: none;
  }
}

.container {
  position: relative;

  @include media-up(tablet) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .containerSticky {
    @include media-up(tablet) {
      position: sticky;
      top: 300px; // Get header var height
    }

    .details {
      display: flex;
      gap: 48px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 96px 32px;

      @include media-up(tablet) {
        flex-direction: row;
        padding: 0 32px;
        gap: 24px;
      }
    }
  }
}
