.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-white);
  z-index: 9999;
  opacity: 1;
  transition:
    opacity 0.5s ease-out,
    visibility 0.5s ease-out;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &.exit {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform-origin: center;
}
