.tabs {
  display: flex;
  gap: 16px;
}

.tab {
  // border-radius: 200px;
  // text-decoration: done;
  // border: 0;

  // &.active {
  //     background-color: black;
  //     color: white !important;
  // }
}
