.container {
  position: relative;
}

.logos {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
  max-width: 1200px;

  @include media-down(tablet) {
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
  }
}

.title {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}

.logo {
  flex: 1;

  @include media-down(tablet) {
    flex: 25%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--layout-container-spacing);

  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  @include media-up(tablet) {
    justify-content: center;
    align-items: flex-end;
  }

  .containerSticky {
    height: 100%;
    position: relative;
  }

  .button {
    position: sticky;
    top: 50%;
    @include media-up(tablet) {
      top: 400px;
    }
  }
}

.layout {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
