.container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
  position: relative;

  &.align {
    &_left {
      @include media-up(tablet) {
        grid-column: 1;
      }
    }
    &_right {
      @include media-up(tablet) {
        grid-column: 2;
      }
    }
  }
}
