$button-thickness: 2px;

.container {
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include media-up(tablet) {
    display: none;
  }

  &.show {
    color: var(--brand-white) !important;

    .button {
      transform: rotate(45deg);
    }
    .navigation {
      pointer-events: all;
      a {
        pointer-events: all;
      }
      &::before {
        transform: scaleY(1);
        transition: transform 300ms ease;
      }
      .links {
        opacity: 1;
        transition: opacity 300ms ease 300ms;
        color: var(--brand-white-70);
      }
    }
  }
}

.buttonContainer {
  position: relative;
  z-index: 99;
  padding: 24px 0;

  .button {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: $button-thickness;
      height: 100%; // Makes the vertical line span the entire button height
      background-color: var(--brand-black-70);
      transform: translateX(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: $button-thickness;
      background-color: var(--brand-black);
      width: 100%; // Makes the horizontal line span the entire button width
      transform: translateY(-50%);
    }
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  padding: 80px 0 80px 0;
  z-index: 2;

  .navigationContainer {
    height: 100%;
  }

  a {
    pointer-events: none;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--brand-white);
    transform-origin: top center;
    transform: scaleY(0);
    transition: transform 300ms ease 100ms;
  }

  .links {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
    opacity: 0;
    transition: opacity 300ms ease 0ms;

    .linkItem {
      display: flex;
      justify-content: center;
      flex: 1;
    }
  }
}
