.container {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.layout {
  &-small {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 128px;
    max-width: 680px;
    margin: 0 auto;

    @include media-up(large-tablet) {
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 64px), 1fr));
      & > *:nth-child(odd):last-child {
        grid-column: 1 / -1;
      }
    }

    .linksGroup {
      gap: 16px;
    }
  }

  &-large {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 64px;
    row-gap: 128px;

    @include media-up(large-tablet) {
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 64px), 1fr));
      & > *:nth-child(odd):last-child {
        grid-column: 1 / -1;
      }
    }

    .linksGroup {
      gap: 200px;
    }
  }
}

.linksGroup {
  display: flex;
  flex-direction: column;
  align-items: center;

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      font-family: var(--font-primary-family), sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 44.8px;
      letter-spacing: 0.06em;
      text-align: center;
      color: var(--brand-black);
    }
  }
}

.linksAdditional {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
