.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  @include media-down(tablet) {
    max-width: 100%;
    width: 100%;
    gap: 8px 16px;
    flex-wrap: wrap;
  }
}
