@layer reset {
  /*=============================================>>>>>
  = Default typography styles =
  ===============================================>>>>>*/
  body {
    @include body-font();
    font-size: 16px;
    font-size-adjust: auto;
    text-align: left;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    text-shadow: 0 0 1px transparent;
    background: white; // Needed for presentation iframe for some reason
  }

  // --------------------------------------------------------------------------
  //   Content Elements
  // --------------------------------------------------------------------------
  //a {
  //  text-decoration: none;
  //  color: currentColor;
  //  &:hover {
  //    text-decoration: underline;
  //  }
  //}
  p {
    margin-top: 0;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    display: block;
    margin: 20px 0;
    border: 0;
  }

  blockquote {
    margin: 0 0 20px;
    font-family: cambria, georgia, times, serif;
    font-style: italic;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  table {
    width: 100%;
  }
}
