/*=============================================>>>>>
= Global Styles =
===============================================>>>>>*/
@import 'print';
@import 'reset';
@import 'buttons';
@import 'typography';
@import 'variables';
@import 'easings';
@import 'scrollSnap';
