.input {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: auto;
  padding: 8px 0 !important;
  margin: 0;

  &::-webkit-slider-runnable-track {
    border-radius: 200px;
    background-color: rgba(black, 0.1);
    height: 0.4rem;
  }

  /******** Firefox ********/
  &::-moz-range-track {
    border-radius: 200px;
    background-color: rgba(black, 0.1);
    height: 6px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    background-color: black;
    margin-top: -7px;
    height: 20px;
    width: 20px;
  }

  &::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 100%; /*Removes default border-radius that FF applies*/
    background-color: black;
    height: 20px;
    width: 20px;
  }
}
