.section {
  position: relative;
  z-index: 0;
  background-color: var(--bg-default);
  color: var(--fg-default);

  //&::before, &::after {
  //  background-color: white;
  //  mix-blend-mode: difference;
  //  pointer-events: none;
  //  content: "";
  //  position: absolute;
  //  bottom: 0;
  //  top: 0;
  //  right: 0;
  //  left: 0;
  //}
  //
  //&::before {
  //  z-index: 1;
  //}
  //
  //&::after {
  //    z-index: -1;
  //}
  //
  //mix-blend-mode: difference;
}

// -------------------
// Spacing
.spacing {
  &_top {
    &_none {
      padding-top: 0;
    }

    &_sm {
      padding-top: 24px;
    }

    &_md {
      padding-top: 40px;

      @include media-up(tablet) {
        padding-top: 48px;
      }
    }

    &_lg {
      padding-top: 48px;

      @include media-up(tablet) {
        padding-top: 96px;
      }
    }

    &_xl {
      padding-top: 180px;
    }
  }

  &_bottom {
    &_none {
      padding-bottom: 0;
    }

    &_sm {
      padding-bottom: 24px;
    }

    &_md {
      padding-bottom: 40px;

      @include media-up(tablet) {
        padding-bottom: 48px;
      }
    }

    &_lg {
      padding-bottom: 48px;

      @include media-up(tablet) {
        padding-bottom: 96px;
      }
    }

    &_xl {
      padding-bottom: 180px;
    }
  }
}
