.logos {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
  max-width: 1200px;

  @include media-down(tablet) {
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
  }
}

.title {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}

.logo {
  flex: 1;

  @include media-down(tablet) {
    flex: 25%;
  }
}
