@layer components {
  .text {
    font-family: var(--primary-font), sans-serif;
  }

  // ------------------
  // Sizes
  .size {
    &_h1 {
      font-weight: 400;
      font-size: 19px;
      line-height: 60.8px;
      letter-spacing: 0.05em;

      @include media-up(tablet) {
        font-size: 24px;
        line-height: 76.8px;
      }
    }

    &_h2 {
      font-size: 13px;
      font-weight: 400;
      line-height: 14.04px;
      letter-spacing: 0.05em;
      text-align: left;

      @include media-up(tablet) {
        font-size: 16px;
        line-height: 17.28px;
      }
    }

    &_b1 {
      font-weight: var(--font-weight-light);
      font-size: 11px;
      line-height: 35.2px;
      letter-spacing: 0.06em;

      @include media-up(tablet) {
        font-size: 14px;
        line-height: 44.8px;
      }
    }

    &_b2 {
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 0.06em;

      @include media-up(tablet) {
        font-size: 12px;
        line-height: 19.2px;
      }
    }

    &_b3 {
      font-weight: var(--font-weight-light);
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.06em;

      @include media-up(tablet) {
        font-size: 12px;
        line-height: 19.2px;
        text-align: left;
      }
    }
  }

  // ------------------
  // Colors

  .color {
    &_brand-black {
      color: var(--brand-black);
    }
    &_brand-black-70 {
      color: var(--brand-black-70);
    }
    &_brand-black-40 {
      color: var(--brand-black-40);
    }
    &_brand-white {
      color: var(--brand-white);
    }
    &_brand-white-70 {
      color: var(--brand-white-70);
    }
    &_brand-white-40 {
      color: var(--brand-white-40);
    }
    &_brand-ascension-blue {
      color: var(--brand-ascension-blue);
    }
    &_brand-ascension-blue-70 {
      color: var(--brand-ascension-blue-70);
    }
    &_brand-ascension-blue-40 {
      color: var(--brand-ascension-blue-40);
    }
  }

  // ------------------
  // Weight
  .weight {
    &_regular {
      font-weight: var(--font-weight-regular);
    }

    &_medium {
      font-weight: var(--font-weight-medium);
    }

    &_semibold {
      font-weight: var(--font-weight-medium);
    }

    &_bold {
      font-weight: var(--font-weight-bold);
    }
  }

  // ------------------
  // Text Transform
  .textTransform {
    &_uppercase {
      text-transform: uppercase;
    }

    &_lowercase {
      text-transform: lowercase;
    }

    &_capitalize {
      text-transform: capitalize;
    }
  }

  // ------------------
  // Spacing
  .spacing {
    &_xs {
      padding-bottom: 8px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &_sm {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &_md {
      padding-bottom: 16px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &_lg {
      padding-bottom: 24px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &_xl {
      padding-bottom: 32px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &_top {
      &_xs {
        padding-top: 8px;

        &:first-child {
          padding-top: 0;
        }
      }

      &_sm {
        padding-top: 12px;

        &:first-child {
          padding-top: 0;
        }
      }

      &_md {
        padding-top: 16px;

        &:first-child {
          padding-top: 0;
        }
      }

      &_lg {
        padding-top: 24px;

        &:first-child {
          padding-top: 0;
        }
      }

      &_xl {
        padding-top: 32px;

        &:first-child {
          padding-top: 0;
        }
      }
    }

    &_bottom {
      &_xs {
        padding-bottom: 8px;

        &:last-child {
          padding-bottom: 0;
        }
      }

      &_sm {
        padding-bottom: 12px;

        &:last-child {
          padding-bottom: 0;
        }
      }

      &_md {
        padding-bottom: 16px;

        &:last-child {
          padding-bottom: 0;
        }
      }

      &_lg {
        padding-bottom: 24px;

        &:last-child {
          padding-bottom: 0;
        }
      }

      &_xl {
        padding-bottom: 32px;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  a.text {
    font-weight: 300;
    text-decoration: underline;
  }

  p.text {
    white-space: pre-line;
  }

  ol.text {
    display: block;
    padding-left: 20px;
    list-style-type: counter;

    li.text {
      list-style-type: counter;
    }
  }

  ul.text {
    display: block;
    padding-left: 20px;
    list-style-type: disc;

    li.text {
      list-style-type: disc;
    }
  }

  blockquote.text {
    padding: 16px;
    background-color: rgba(#2e4f4d, 0.1);
    border-left: 4px solid rgba(#2e4f4d, 0.2);
  }
}
