.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  min-height: 80vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
