.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  display: none;

  &.visible {
    display: block;
  }
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 100vw;
  max-width: 540px;
  z-index: 9999999999;
  display: flex;
  flex-direction: column;
  border-left: 0.2px solid rgba(20, 20, 32, 0.7);
  transform: translateX(100%);
  transition: transform 0.3s $ease;

  &.open {
    transform: translateX(0);
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.header {
  padding: 24px;
  border-bottom: 0.2px solid rgba(20, 20, 32, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  @include media-up(tablet) {
    padding: 35px 24px;
  }
}

.body {
  flex: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(24px);
  overflow-y: auto;
}

.footer {
  background: white;
  margin-top: auto;
  padding: 24px;
  border-top: 0.2px solid rgba(20, 20, 32, 0.7);
}
