.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  cursor: pointer;
  display: none;

  &:checked + .label {
    .radio {
      border-color: rgba(0, 0, 0, 1);
    }

    .radioMarker {
      background-color: rgba(0, 0, 0, 1);
      transform: scale(1);
    }
  }
}

.radio {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;

  .radioMarker {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
}

.label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    .radio {
      border-color: rgba(0, 0, 0, 0.6);
    }

    .radioMarker {
      background-color: rgba(0, 0, 0, 0.6);
      transform: scale(1);
    }
  }
}
