.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: var(--navigation-color);

  &:hover {
    color: var(--navigation-color-hover);
  }
}
