.input {
  border-radius: 200px;
  transition: all 0.4s ease-in-out;
  margin: 0 !important;

  &:hover,
  &:focus {
    border-color: $primary;
  }

  &.error {
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba($primary, 0.2);
  }
}
