.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 4;
  pointer-events: none;
  background-color: transparent !important;
  display: none;

  @include media-up(large-tablet) {
    display: block;
  }
}

.layout {
  position: sticky;
  display: flex;
  align-items: center;
}

.block {
  width: 50%;
  height: 54px;
  padding-top: 27px;
  display: flex;
  align-items: center;
}
